
.venv/
.venv-1/

__pycache__/
*.pyc
*.egg-info/
dist/

docs/build/
docs/source/
docs/Makefile
docs/make.bat

.DS_Store

*.log
*.tmp

docs_domain/docs/build/
docs_domain/docs/source/
docs_domain/docs/Makefile
docs_domain/docs/make.bat
